.portfolio {
  text-align: center;

  &__block {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item1,
  &__item2,
  &__item3,
  &__item4,
  &__item5,
  &__item6 {
    overflow: hidden;
    position: relative;
  }

  &__item4 {
    grid-row: span 2 / span 2;
  }

  &__item6 {
    grid-column: span 2 / span 2;
  }
}

@media (max-width: 768px) {
  .portfolio {
    &__block {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}