@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 12px;
  color: #404040;
  font-family: 'Lato';
}

body {
  margin: 25px 17px 0 17px;
  padding-top: 80px; // или подберите под высоту header
  height: 94vh;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-areas:
    "header"
    "contentt";
}

button {
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  background-color: transparent;
  line-height: inherit;
  color: #FFFFFF;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2.83rem;
  margin: 20px 0;
  line-height: 43px;
  font-weight: 700;
}

.text--purple {
  color: #9A93FF;
}

@media (min-width: 769px) {
  html {
    font-size: 18px;
    line-height: 23px
  }

  body {
    margin: 25px 7% 0 7%;
  }

  h1 {
    font-size: 69px;
  }
}