@font-face {
  font-family: "Lato"; 
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 
html {
  font-size: 12px;
  color: #404040;
  font-family: 'Lato';
 
}
body{
  margin: 25px 17px 0 17px;
  height: 94vh;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-areas: 
  "header"
  "contentt";
}
button{
  border: none;
    border-radius: 999px;
    display: flex;
    align-items: center;
    background-color: transparent;
    line-height: inherit;
    color: #FFFFFF;
}
a{
  text-decoration: none;
  color: black;
}

.header{
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  position: relative;
  grid-area: contentt;
}
.logo{
  height: 100%;
}

 button.gamburger{   
  border-radius: 0px;
  height: 1.4em;
  width: 2em;
  background: url('../assets/icons/menu.svg')  ; 
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar{
  display: none;
}
button.header{
  display: none;
}
@media only screen and (min-width: 769px){
  html{
    font-size:18px;
    line-height: 23px
  }
  
.dropdown{
    display: none;
 }
.navbar{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
text-align:  center;
overflow: hidden;
}
button.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ADA7FF;
  border-radius: 999px;
  border:none;
  width: 146px;
  height: 55px;
  }

}